* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  margin: 50px 200px;
}

.main {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 20px;
}

table {
  width: 100%;
}

table th,
td {
  border: 1px solid black;
  padding: 10px 15px;
}

table {
  border-collapse: collapse;
}

table th,
td {
  text-align: center;
}

.actions {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
}
