<div class="container">
  <div class="main">
    <h3>Employee details</h3>
  </div>
  <div class="detail">
    <div class="field">
      <label for="id">Employee ID</label>
      <p>{{ user.id }}</p>
    </div>
    <div class="field">
      <label for="number">Employee Number</label>
      <p>{{ user.employeeNumber }}</p>
    </div>
    <div class="field">
      <label for="name">Employee Name</label>
      <p>{{ user.employeeName }}</p>
    </div>
    <div class="field">
      <label for="mobile">Employee Mobile</label>
      <p>{{ user.mobileNumber }}</p>
    </div>
    <div class="field">
      <label for="email">Employee Email</label>
      <p>{{ user.emailId }}</p>
    </div>
  </div>
  <div class="button">
    <button routerLink="/list">Back</button>
  </div>
</div>
